# Override some defaults so BT stack is enabled
# by default in this example
CONFIG_BT_ENABLED=y
CONFIG_BT_GATTS_SEND_SERVICE_CHANGE_MANUAL=y
CONFIG_BT_BTU_TASK_STACK_SIZE=4512
CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE=y

# Override some defaults of ESP BLE Mesh
CONFIG_BLE_MESH=y
CONFIG_BLE_MESH_NODE=y
CONFIG_BLE_MESH_PB_GATT=y
CONFIG_BLE_MESH_TX_SEG_MSG_COUNT=10
CONFIG_BLE_MESH_RX_SEG_MSG_COUNT=10
#
# Support for BLE Mesh Client/Server models
#
CONFIG_BLE_MESH_GENERIC_ONOFF_CLI=y
CONFIG_BLE_MESH_GENERIC_LEVEL_CLI=y
CONFIG_BLE_MESH_GENERIC_DEF_TRANS_TIME_CLI=y
CONFIG_BLE_MESH_GENERIC_POWER_ONOFF_CLI=y
CONFIG_BLE_MESH_GENERIC_POWER_LEVEL_CLI=y
CONFIG_BLE_MESH_GENERIC_BATTERY_CLI=y
CONFIG_BLE_MESH_GENERIC_LOCATION_CLI=y
CONFIG_BLE_MESH_GENERIC_PROPERTY_CLI=y
CONFIG_BLE_MESH_SENSOR_CLI=y
CONFIG_BLE_MESH_TIME_CLI=y
CONFIG_BLE_MESH_SCENE_CLI=y
CONFIG_BLE_MESH_SCHEDULER_CLI=y
CONFIG_BLE_MESH_LIGHT_LIGHTNESS_CLI=y
CONFIG_BLE_MESH_LIGHT_CTL_CLI=y
CONFIG_BLE_MESH_LIGHT_HSL_CLI=y
CONFIG_BLE_MESH_LIGHT_XYL_CLI=y
CONFIG_BLE_MESH_LIGHT_LC_CLI=y
CONFIG_BLE_MESH_GENERIC_SERVER=y
CONFIG_BLE_MESH_SENSOR_SERVER=y
CONFIG_BLE_MESH_TIME_SCENE_SERVER=y
CONFIG_BLE_MESH_LIGHTING_SERVER=y

# MeshX NVS default enable
CONFIG_BLE_MESH_SETTINGS=y
CONFIG_BLE_MESH_STORE_TIMEOUT=1
CONFIG_BLE_MESH_SEQ_STORE_RATE=0
CONFIG_BLE_MESH_RPL_STORE_TIMEOUT=2

# FreeRTOS related
CONFIG_FREERTOS_USE_TRACE_FACILITY=y

# CONFIG_BLE_MESH_SPECIFIC_PARTITION=y
# CONFIG_BLE_MESH_PARTITION_NAME="MESHX_NVS"
